<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>

<servlet-name>Config</servlet-name>
<jsp-file>Config.jsp</jsp-file>

<init-param>  
<param-name>dname</param-name>  
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
</init-param>


</servlet>


<servlet-mapping>


<servlet-name>Config</servlet-name>  
<url-pattern>/config</url-pattern>  

</servlet-mapping>





</web-app>
